html {
  height: 100%;
}

body {
  margin: 0;
  background-attachment: fixed;;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: white;
}

section {
  padding-top: 7%;
  padding-bottom: 7%;
  position: relative;
  overflow: hidden;
}

.section-header {
  padding-bottom: 5%;
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hr {
  margin-top: 8%;
  margin-bottom: 8%;
}

@media only screen and (max-width: 700px){
  .feature-heading{
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.home h1, .home p {
  color: white;
}

.key-features {
  color: #37404d;
}

.key-features img {
  width: 80%;
  padding: 2%;
}

.feature-glance {
  background: #f8f8f8;
}

.feature-glance .card {
  border: none;
  background: transparent;
}

.feature-glance i {
  color: $primary;
  padding: 25px;
}

.feature-glance h1, h2, p{
  color: #37404d;
}

.testimonials h6 {
  color: black;
}

h1, h2, h3, h4, h5 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.6;
  color: #37404d;
}

h1 {
  font-size: 2.5rem;
}

.home-header {
  background: #191919;
  background-size: cover;
  position: relative;
  z-index: 5;
  color: white;
  padding-top: 0;
  height: 100%;
}

.home-header::before {
  content: '';
  background-image: url('../../images/charts.jpg');
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

.header{
  background: #191919;
  background-size: cover;
  position: relative;
  z-index: 5;
  color: white;
  padding-bottom: 6%;
}

.subscription-bar::before{
  content: '';
  background-image: url('../../images/parallax.jpg');
  background-size: cover;
  background-position: center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

.subscription-bar {
  background: #191919;
  background-size: cover;
  position: relative;
  z-index: 5;
  color: white;
}

.header h1 {
  padding-top: 4%;
}

.header::before {
  content: '';
  background-image: url('../../images/charts.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}